body {
  background-color: #252526;
  font-size: 32px;
  color: white;
}

button {
  font-size: 2rem;
  background-color: rgb(87, 0, 53);
  color: white;
}
.Home {
}

.Error {
  background-color: tomato;
  color: black;
  font-size: 3em;
  height: 100vh;
}

.user-icon {
  width: 50px;
}

.song-card {
  background: rgba(23, 0, 29, 0.322)
}