body {
  background-color: #252526;
  font-size: 32px;
  color: white;
  width: 90%;
  margin: 0 5% 15px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 2px 1px white;
  margin-bottom: 25px;
}
a:hover {
  box-shadow: 0 0 8px 2px white;
}
video {
  margin-bottom: 25px;
}

@media screen and (min-width: 480px) {
  video {
    width: 30%;
    margin: 0 35%;
    margin-bottom: 25px;
  }
}

button {
  font-size: 2rem;
  background-color: rgb(87, 0, 53);
  color: white;
}
.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Error {
  background-color: tomato;
  color: black;
  font-size: 3em;
  height: 100vh;
}

.user-icon {
  width: 50px;
}

.song-card {
  background: rgba(23, 0, 29, 0.322)
}